html, body{
	font-family: 'Montserrat', sans-serif;
}

.intro{
	padding-top:2%;
	padding-bottom:2%;
	text-align:center;
	color:#232C33;
	background-color:#CCD6EB;
}

.fact-sheet{
	padding-top:2%;
	padding-bottom:2%;
	background-color:#FFF3BB;
}

.faq{
	background-color:#CCD6EB;
	padding-bottom:2%;
}

.feedback{
	padding-top:2%;
	padding-bottom:2%;
}

.footer{
	padding-bottom:3%;
}

.how-to{
	padding-top:2%;
	text-align:center;
}
.col-md-4, .col-md-6, .col-md-8, .col-md-12{
	text-align:center;
}

.faq-header{
	text-align:center;
	text-decoration: underline;
}

form{
	margin: 0;
	text-align:center;
}

#add-one{
	margin-top:5%;
}

.text-background-action{
	background-color:#BDE4A7;
}

.text-background-method{
	background-color:#F7AF9D;
}

::selection {
  background: #FCCA46;
}

::-moz-selection {
  background: #FCCA46;
}