html{
	font-family: 'Open Sans', sans-serif;
}

.jumbotron{
	text-align:center;
	color:#232C33;
	background-color:#CCD6EB;
}

.col-md-4, .col-md-6, .col-md-8, .col-md-12{
	text-align:center;
}

form{
	margin: 0;
	text-align:center;
}

#add-one{
	margin-top:5%;
}

.accent{
	color: #8B80F9;
}

.center-text{
	text-align:center;
}