html, body{
	font-family: 'Montserrat', sans-serif;
}

.intro{
	padding-top:2%;
	padding-bottom:2%;
	text-align:center;
	color:#232C33;
	background-color:#CCD6EB;
}

.fact-sheet{
	padding-top:2%;
	padding-bottom:2%;
	background-color:#FFF3BB;
}

.how-to{
	padding-top:2%;
	text-align:center;
}
.col-md-4, .col-md-6, .col-md-8, .col-md-12{
	text-align:center;
}

form{
	margin: 0;
	text-align:center;
}

#add-one{
	margin-top:5%;
}

.accent{
	color: #8B80F9;
}

.text-background{
	background-color:#80FFE8;
}