<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/css/staticcontact.css">
    <title>Static Contact</title>
    <link rel="shortcut icon" href="/public/img/staticcontact.ico">
  </head>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59495915-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script>
    $(function() {
      $("#contact-form").on("submit", function(e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr("action"),
            type: 'GET',
            data: $(this).serialize(),
            success: function(data) {
                $("#contact-submit").text('Form submitted!')
            }
        });
      });
    });
  </script>
  <body>
    <div class="container-fluid">
        <div class="row intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Static Contact</h1>
                        <h3>Have a contact form sent directly to your inbox -</h3>
                        <h3>No backend required.</h3>
                        <a href="#how-to"><button class="btn btn-primary">Show me how!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row fact-sheet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-7 col-sm-offset-3 col-md-offset-0 col-md-4">
                          <h4><i class="fa fa-bolt"></i> Quick to set up</h4>
                          <p>Simply change the action attribute of a form.</p>
                        </div>
                        <div class="col-sm-7 col-sm-offset-3 col-md-offset-0 col-md-4">
                          <h4><i class="fa fa-check-square-o"></i> Perfect for any page</h4>
                          <p>Static Contact is the easiest and fastest way to add a contact form to any site.</p>
                        </div>
                        <div class="col-sm-7 col-sm-offset-3 col-md-offset-0 col-md-4">
                          <h4><i class="fa fa-star"></i> Absolutely free</h4>
                          <p>Yep, and always will be.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="how-to" class="container how-to">
      <p>All that is required is to set the action attribute on a HTML form to be <span class="text-background">http://www.staticcontact.com/contact/{your_email}</span></p>
      <p>Below is a sample contact form. Note that the name, email, and message elements (and their name attributes) are required.</p>
      <p>Typically, a form submission redirects a user. The below javascript submits the form but does not redirect the user.</p>
      <script src="https://gist.github.com/munrocape/9d9f2df6609907516f05.js"></script>
      
      <script src="https://gist.github.com/munrocape/1d7c69cd993116ea52f3.js"></script>
 
    </div>
    <div id="try-it-out" class="container">

      <form id="contact-form" action="http://www.staticcontact.com/contact/zach@staticcontact.com">
      <legend class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">Any feedback?</legend>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-group">
          <input class="form-control" id="name" name="name" type="name" placeholder="Name" required>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-group">
          <input class="form-control" id="email" name="email" type="email"  placeholder="Email" required>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-group">
          <textarea class="form-control" id="message" name="message" type="message" rows="5"placeholder="Message" required></textarea>
        </div>

        <button id="contact-submit" type="submit" class="col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 btn btn-default">Submit</button>
      </form>
    </div>
    <div id="footer" class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="https://www.github.com/munrocape/staticcontact"><h4>View the project on GitHub</h4></a>
          <p>Made with <i class="fa fa-heart"></i> in Bermuda by <a href="http://twitter.com/munrocape">@munrocape<a></p>
        </div>
      </div>
    </div>
  </body>
</html>