{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
      <form action="/App/contact?id=user_email" method="POST">
          <input type="text" name="name" placeholder="name"/><br/>
          <input type="text" name="email" placeholder="email"/><br/>
          <input type="text" name="message" placeholder="message"/><br/>
          <input type="submit" value="Say hello!" />
      </form>

      <form action="/App/contact?token=user_token" method="POST">
          <input type="text" name="name" placeholder="name"/><br/>
          <input type="text" name="email" placeholder="email"/><br/>
          <input type="text" name="message" placeholder="message"/><br/>
          <input type="submit" value="Say hello!" />
      </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
