{{define "Contact"}}
<!DOCTYPE html>
<form id="contact-form" action="/{{.Key}}/send" method="POST">
    <input type="text" name="email" placeholder="email" required/><br/>
    <input type="text" name="subject" placeholder="subject"/><br/>
    <input type="text" name="message" placeholder="message" required/><br/>
    {{ .csrfField }}


    <p><img id=image src="/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>

    <a href="#" onclick="reload()">Reload Code</a> | <a href="#" onclick="playAudio()">Play Audio</a>
    <br>

    <audio id=audio controls style="display:none;text-align:center;" src="/captcha/{{.CaptchaId}}.wav" preload=none>
      Your browser dont support audio.
      <a href="/captcha/download/{{.CaptchaId}}.wav">Download file</a> to play it in the external player.
    </audio>
    <select id="lang" onchange="changeLang()">
    	<option value="en">English</option>
    	<option value="ru">Russian</option>
    	<option value="zh">Chinese</option>
    </select>
    <input type=hidden name=captchaId value="{{.CaptchaId}}"><br>
    <input name=captchaSolution placeholder="Enter the code to proceed">

    <input id="contact-submit" type="submit" value="Say hello!" />
</form>
{{end}}
