{{define "Contact"}}
<html>
Loading
<form id="contact-form" action="/{{.Key}}/send" method="POST">
  <!--  <input type="text" name="name" placeholder="name" required/><br/> -->
    <input type="text" name="email" placeholder="email" required/><br/>
    <input type="text" name="subject" placeholder="subject"/><br/>
    <input type="text" name="message" placeholder="message" required/><br/>
    {{ .csrfField }}
    <input id="contact-submit" type="submit" value="Say hello!" />
</form>
</html>
{{end}}
