{{define "Index"}}
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<form id="contact-form" action="/{{.Key}}/send" method="POST">
    <input type="text" name="email" placeholder="email" required/><br/>
    <input type="text" name="subject" placeholder="subject"/><br/>
    <textarea name="message" placeholder="message" required/></textarea><br/>
    {{ .csrfField }}


    <p><img id=image src="/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>

    <a href="#" onclick="reload()">Reload Code</a> | <a href="#" onclick="playAudio()">Play Audio</a>
    <br>

    <audio id=audio controls style="display:none;text-align:center;" src="/captcha/{{.CaptchaId}}.wav" preload=none>
      You are using a text-based browser. The audio captcha will not play here.
      <a href="/captcha/download/{{.CaptchaId}}.wav">Download file</a> to play it in the external player.
    </audio>
    <input type=hidden name=captchaId value="{{.CaptchaId}}"><br>
    <input name=captchaSolution placeholder="Enter the code to proceed">

    <input id="contact-submit" type="submit" value="Say hello!" />
</form>

<script>
function setSrcQuery(e, q) {
  var src  = e.src;
  var p = src.indexOf('?');
  if (p >= 0) {
    src = src.substr(0, p);
  }
  e.src = src + "?" + q
}
function playAudio() {
  var le = document.getElementById("lang");
  var lang = le.options[le.selectedIndex].value;
  var e = document.getElementById('audio')
  setSrcQuery(e, "lang=" + lang)
  e.style.display = 'inline';
  e.autoplay = 'true';
  return false;
}
function changeLang() {
  var e = document.getElementById('audio')
  if (e.style.display == 'block') {
    playAudio();
  }
}
function reload() {
  setSrcQuery(document.getElementById('image'), "reload=" + (new Date()).getTime());
  setSrcQuery(document.getElementById('audio'), (new Date()).getTime());
  return false;
}
</script>

</body>
</html>
{{end}}
