{{define "Index"}}
<!DOCTYPE html>
<!--
These template comments don't show up in the served page.
-->
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body style="text-align:center; margin: 10px;">
  <h1>cosgo</h1>
  <h2>contact form server</h2>
<a name="contact"></a>

{{if .Status }}<p style="color: purple;">{{.Status}}</p>{{end}}
<form id="contact-form" action="/{{.Key}}/send" method="POST">
    <label>Email: <input type="text" name="email" placeholder="you@yours.com" required/></label><br/>
    <label>Subject: <input type="text" name="subject" placeholder="what a cool contact form"/><br/>
    <label>Message: <textarea name="message" placeholder="i use cosgo! thanks!" required/></textarea><br/>
    {{ .csrfField }}


    <p><img id="image" src="/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>

    <a href="#contact" onclick="reload()">Reload Code</a> | <a href="#" onclick="playAudio()">Play Audio</a>
    <br>

    <audio id="audio" controls style="display:none;text-align:center;" src="/captcha/{{.CaptchaId}}.wav" preload=none>
      You are using a text-based browser. The audio captcha will not play here.
      <a href="/captcha/download/{{.CaptchaId}}.wav">Download file</a> to play it in the external player.
    </audio>
    <input type=hidden name=captchaId value="{{.CaptchaId}}" /><br>
    <input name=captchaSolution placeholder="Enter the code to proceed" />

    <input id="contact-submit" type="submit" value="Say hello!" />
</form>
{{if .Pages}}<p>Now with: <a target="_parent" href="{{.PagePath}}/demo.html">custom pages!</a></p>{{end}}

<!-- You probably don't want to display your cosgo version on *your* instance. -->
{{if .Version}}<p>cosgo {{.Version}}</p>{{end}}

<pre style="text-align: left; position: absolute; bottom: 0px; left: 10px;">
time: {{.Now}}
uptime: {{.Uptime}}
counter: {{.Hits}}
</pre>

<pre style="text-align: right; position: absolute; bottom: 0px; right: 10px;">
<a href="https://github.com/aerth/cosgo">Source Code</a>
</pre>
<script>

<!-- you can remove all this javascript if you need, its for reloading and playing audio and changing language. -->
function setSrcQuery(e, q) {
  var src  = e.src;
  var p = src.indexOf('?');
  if (p >= 0) {
    src = src.substr(0, p);
  }
  e.src = src + "?" + q
}
function playAudio() {
  //var le = "en";
  //var lang = le.options[le.selectedIndex].value;
  var e = document.getElementById('audio')
  //setSrcQuery(e, "lang=" + lang)
  e.style.display = 'inline';
  e.autoplay = 'true';
  return false;
}
function changeLang() {
  var e = document.getElementById('audio')
  if (e.style.display == 'block') {
    playAudio();
  }
}
function reload() {
  setSrcQuery(document.getElementById('image'), "reload=" + (new Date()).getTime());
  setSrcQuery(document.getElementById('audio'), (new Date()).getTime());
  return false;
}
</script>

</body>
</html>
{{end}}
